DirectoryIndex index.html

#Redirects

Redirect 301 /myredirect /myRedirect.html
Redirect 301 /mybook https://bryanuniversity.on.worldcat.org/search?queryString=react#/oclc/934432184
Redirect 302 /mygit https://github.com/WEBDEVLOVE20/AFS-205

#Errors

ErrorDocument 404 /404.html